.film{
	width: 100%;
	height: 100%;
}
#container {width:300px; height: 180px; }  
header{
	display: block;
	width: 100%;
	height: 8vh;
	background-color: red;
}
.loginname{
	color: white;
	font-size: 1.375rem;
	width: 60%;
	
	margin-left: 15vw;
	display: inline-block;
	text-align: center;
	line-height: 8vh;
	height: 100%;
	
}
.am-navbar-light .am-navbar-title{
	color: white !important;
}
.am-popover-inner-wrapper {
   text-align: center;
    width: 30vw;
}
.am-popover .am-popover-item-container{
	justify-content: center;
}
.selection{
	width: 100%;
	height: 4rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;	
}
.selection div{
	float: left;
}
.tubiao{
	width: 15%;
	float: right;
	height: 4rem;
	display: inline-block;
	line-height: 10vh;
	text-align: center;
	color: white;
}
.liu{
	width: 15%;
	height: 4rem;
    margin-left: 0.625rem;
	display: flex;
	align-items: center;
}
.liu img{
		width:80%;
		height: 70%;
		
	}
.headercenter{
	width: 50%;
	height: 4rem;
	text-align: center;
	text-align: left;
}
.headertou{
	    font-size: 1.0625rem;
	    color: #222;
			margin: 10px 0 0 10px;
	    line-height: 1.4375rem;
		padding-bottom: 0.3125rem;
}
.headerjiao{
	    font-size: 0.75rem;
	    color: #999;
		
}
.waring{
	/* width: 23%; */
	height: 100%;
	margin-left: 0.625rem;
	display: flex;
	justify-content:right;
	align-items: center;
}
.am-button-small {
    font-size: 0.8125rem;
    height: 1.875rem;
    line-height: 1.875rem;
    /* padding: 0 15px; */
    width: 100%;
}
.topbar{
	width: 100%;
	display: block;
    border-bottom: 1px solid #e6e6e6;
	display: flex;
	background-color: #fff;
	justify-content: space-around;
    height: 44px;
}
.tabler{
	width:70%;
	flex: 4;
	height: 44px;
	line-height:44px;
	
}
.city{
	text-align: center;
	flex: 1;
	line-height: 44px;
}
.search{
	flex: 1;
	text-align: center;
	line-height: 2.75rem;
}
.city1{
	    font-size: 0.9375rem;
	    color: #666;
		
}
.conter{
	width: 100%;
	height: 29.5rem;
	
	
}
.lunbo{
	width: 100%;
	height: 10rem;
	background-color: #FFF
}
.lunbo p{
	padding-top: 0.75rem;
	margin-left: 0.75rem;
	font-size: 0.875rem;
}
.swiper1{
	width: 100%;
	height: 9rem;
	overflow: hidden;
}
.liumao{
	width: 100%;
	height: 18rem;
	overflow: auto;
	position: relative;
   overflow: hidden;
}
.ul{
	position: absolute;
		left: 0;
		top: 0;
		right: -17px;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: scroll;
}
.ul li{
	line-height: 1.25rem;
}


@media screen and (min-width: 767px) {
   .conter {
       width: 100%;
       height: 20rem;
   }
   .liumao {
       width: 100%;
       height: 12rem;
       overflow: auto;
       position: relative;
       overflow: hidden;
   }
}
